# Node / Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
mock_db.json

# Build outputs
dist/
dist-ssr/
out/

# Editor / System Files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
